body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Courier', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

.wrapper
{
	width: 100%;
}

.header
{
	width:100%;
	padding: 40px 0;
}
.logo
{
	width: 450px;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
img
{
	width: 100%;
}
.nav
{ 
	width: 100%;
	padding: 10px 0;
	background-color: #118a7e;
	text-align: center;
	border-top: 1px solid #cbf078;
	border-bottom: 1px solid #cbf078;
}
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 200px;
	height: 40px;
	border-right: 1px dashed #cbf078;
}

ol > li:first-child
{
	border-left: 1px dashed #cbf078;
}

ol > li:hover
{
	background-color: #cbf078;
}

ol > li:hover > a
{
	color: #451717;
}